<app-header-admin></app-header-admin>
<h2>ADMIN DASHBOARD</h2>

<h3>City management:</h3>
<p>
    <a routerLink="/admin/cities" routerLinkActive="active">View City list</a> <br>
    <a routerLink="/admin/cities/create" routerLinkActive="active">Create a new City</a>  <br>
</p>
<h3>Landmark management:</h3>
<p>
    <a routerLink="/admin/landmarks" routerLinkActive="active">View Landmark list</a> <br>
    <a routerLink="/admin/landmarks/create" routerLinkActive="active">Create a new Landmark</a> <br>
</p>

<app-footer-admin></app-footer-admin>
