<app-loading-spinner *ngIf="isLoading; else landmarkList"></app-loading-spinner>

<ng-template #landmarkList>

    <hr>
    <input #searchTerm type="text" placeholder="Search by name" 
    (keyup)="searchByName(searchTerm.value)">
    <button (click)="resetSearchFilter()">X</button>
    <hr>

    <table>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Short desc</th>
            <th>Visibility</th>
            <th>City</th>
            <th colspan="2">Actions</th>       
        </tr>
        <tr *ngFor="let landmark of fileredLandmarks">
            <td>{{landmark.name}}</td>
            <td>{{landmark.slug}}</td>
            <td>{{landmark.introText}}</td>
            <td [ngClass]="{'inactive-item': !landmark.isActive}">
                {{landmark.isActive ? 'Public' : 'Private'}}
            </td>
            <td [ngClass]="{'inactive-item': !landmark.city.isActive}">
                {{landmark.city?.name}}
            </td>
            <td>
                <button (click)="viewItem(landmark)">View</button>
                <button (click)="modifyItem(landmark)">Modify</button>
                <button (click)="deleteItem(landmark)">Delete</button>
            </td>
        </tr>       
    </table>
</ng-template>
