<nav>
    <p><b>PORTAL NAV:</b> &nbsp;
        <a routerLink="/portal" routerLinkActive="active">Home</a> |
        <a routerLink="/portal/cities" routerLinkActive="active">City list</a> |
        <span *ngIf="!isLoggedIn">
            <a routerLink="/login" routerLinkActive="active">Login</a> /
            <a routerLink="/register" routerLinkActive="active">Register</a>
        </span>
        <span *ngIf="isLoggedIn">
            <a routerLink="/portal/user-profile" routerLinkActive="active">MyProfile</a> |
            <a routerLink="/portal/tours" routerLinkActive="active">MyTours</a> |
            <a routerLink="" (click)="onLogout()">Logout</a> | 
            <b>Welcome {{userFullName}}!</b>
        </span>
    </p>
</nav>
<hr>
