<!-- Pure CSS Loader https://loading.io/css/ -->
<div *ngIf="isLoading; else landmarksList" class="lds-default">
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
</div>

<ng-template #landmarksList>
    <p>
        {{ city.description }}<br>
        <img [src]="city.image" [alt]="city.name + ' image'" width="150px"><br>
    </p>
    <hr>

    <input #searchTerm type="text" (keyup)="searchByName(searchTerm.value)" placeholder="Search by name">
    <hr>
    
    <ul *ngFor="let landmark of fileredLandmarks">
        <li>
            <p>
                <b>Name:</b> {{ landmark.name }}<br>
                <b>Description:</b> {{ landmark.description }}<br>
                <b>Entrance:</b> {{ landmark.entranceFee }}<br>
                <button (click)="viewItem(landmark)">Details</button>
            </p>
        </li>
    </ul>
    <span *ngIf="!fileredLandmarks.length">
        <p>No landmarks found.</p> 
    </span>
</ng-template>
