<!-- Pure CSS Loader https://loading.io/css/ -->
<div *ngIf="isLoading; else landmarksList" class="lds-default">
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
</div>

<ng-template #landmarksList>
    <!-- City details -->
    <div>
        <img [src]="getCityThumbnail(city)" [alt]="getAltText(city.name)" 
            class="wrappable-image" width="150px">
        <p>{{city.description}}</p>
    </div>
    <!-- Landmark list filters -->
    <hr>
    <input #searchTerm type="text" placeholder="Search by name" 
        (keyup)="searchByName(searchTerm.value)">
    <hr>
    <!-- Landmark list -->
    <ul *ngFor="let landmark of fileredLandmarks">
        <li>
            <div class='parent inline-flex-parent'>
                <div class='child'>
                    <img [src]="getLandmarkThumbnail(landmark)" 
                    alt="getAltText(landmark.name)" width="80px">
                </div>
                <div class='child padding-left-small'>
                    <h3>{{landmark.name}}</h3>
                    <p class="shortened-text">{{landmark.description}}</p>
                    <b>Entrance:</b> {{landmark.entranceFee}}<br>
                    <button (click)="viewItem(landmark)">Details</button>
                </div>
            </div>
        </li>
    </ul>
    <span *ngIf="!fileredLandmarks.length">
        <p>No landmarks found.</p> 
    </span>
</ng-template>
