<!-- TODO: Clean-up unnecessary comments when finished -->
<!-- Pure CSS Loader https://loading.io/css/ -->
<div *ngIf="isLoading" class="lds-default">
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
</div>

<form *ngIf="!isLoading" [formGroup]="landmarkForm">

    <br>
    <p *ngIf="landmark?.createdAt">Created: {{ landmark.createdAt | date:'fullDate' }}</p>
    <p *ngIf="landmark?.modifiedAt">Modified: {{ landmark.modifiedAt | date:'fullDate' }}</p>
    <br>

    <!-- NAME field -->
    <label for="name"><b>Landmark name*:</b></label><br>
    <input type="text" id="name" required 
        formControlName="name"
        [ngClass]="{ 'field-invalid': isFieldInvalid('name') }"><br>
    <!-- NAME validation messages -->
    <div *ngIf="isFieldInvalid('name')" class="error-message">
        <div *ngIf="name?.errors?.required">
            Landmark name is required.
        </div>
        <div *ngIf="name?.errors?.minlength">
            Landmark name must be at least {{ name?.errors?.minlength?.requiredLength }} characters long.
        </div>
    </div><br>

    <!-- SLUG field -->
    <label for="slug"><b>Landmark slug*:</b></label><br>
    <input type="text" id="slug"
        formControlName="slug"
        [ngClass]="{ 'field-invalid': isFieldInvalid('slug') }"><br>
    <!-- SLUG validation messages -->
    <div *ngIf="isFieldInvalid('slug')" class="error-message">
        <div *ngIf="slug?.errors?.required">
            Landmark slug is required.
        </div>
        <div *ngIf="slug?.errors?.minlength">
            Landmark slug must be at least {{ slug?.errors?.minlength?.requiredLength }} characters long.
        </div>
    </div><br>

    <!-- VISIBILITY field -->
    <p><b>Visibility options:</b></p>
    <div>
        <input type="radio" id="public" name="isActive" [value]="true"
            formControlName="isActive"                >
        <label for="public">Public</label>
    </div>
    <div>
        <input type="radio" id="private" name="isActive" [value]="false"
            formControlName="isActive">
        <label for="private">Private</label>
    </div>
    <!-- VISIBILITY validation messages -->
    <div *ngIf="isFieldInvalid('isActive')" class="error-message">
        <div *ngIf="isActive?.errors?.required">
            Visibility options selection is required.
        </div>
    </div><br>

    <!-- CITY field -->
    <label for="city"><b>Select a City*:</b></label><br>
    <select id="city" 
        formControlName="city"
        [ngClass]="{ 'field-invalid': isFieldInvalid('city') }">
        <option [ngValue]="null" disabled>Select a city</option>
        <option *ngFor="let city of citySelectOptions" [ngValue]="city.id">{{city.value}}</option>
    </select><br>
    <!-- CITY validation messages -->
    <div *ngIf="isFieldInvalid('city')" class="error-message">
        <div *ngIf="city?.errors?.required">
            City is required.
        </div>
    </div><br>

    <!-- INTRODUCTORY TEXT field -->
    <label for="introText"><b>Introductory text*:</b></label><br>
    <textarea id="introText" rows="3"
        formControlName="introText"
        [ngClass]="{ 'field-invalid': isFieldInvalid('introText') }"></textarea><br>
    <!-- INTRODUCTORY TEXT validation messages -->
    <div *ngIf="isFieldInvalid('introText')" class="error-message">
        <div *ngIf="introText?.errors?.required">
            Introductory text is required.
        </div>
    </div><br>

    <!-- DESCRIPTION field -->
    <label for="description">Landmark description: </label><br>
    <textarea id="description" rows="3"
        formControlName="description"></textarea><br><br>

    <!-- ENTRANCE-FEE field -->
    <label for="entranceFee">Entrance fee*: </label><br>
    <input type="number" id="entranceFee" required
        formControlName="entranceFee"
        [ngClass]="{ 'field-invalid': isFieldInvalid('entranceFee') }"><br>
    <!-- ENTRANCE-FEE validation messages -->
    <div *ngIf="isFieldInvalid('entranceFee')" class="error-message">
        <div *ngIf="entranceFee?.errors?.required">
            Entrance fee is required.
        </div>
        <div *ngIf="entranceFee?.errors?.min">
            Entrance fee minimum value is {{ entranceFee?.errors?.min?.min }}.
        </div>
    </div><br>

    <!-- OFFICIAL-WEBSITE field -->
    <label for="officialWebsite">Official website: </label><br>
    <input type="text" id="officialWebsite" 
        formControlName="officialWebsite"
        [ngClass]="{ 'field-invalid': isFieldInvalid('officialWebsite') }"><br>
    <!-- OFFICIAL-WEBSITE validation messages -->
    <div *ngIf="isFieldInvalid('officialWebsite')" class="error-message">
        <div *ngIf="officialWebsite?.errors">
            Website must have a proper URL format.
        </div>
    </div><br>

    <!-- FEATURED-IMAGE field -->
    <label for="featuredImage">Featured image: </label><br>
    <input type="text" id="featuredImage" 
        formControlName="featuredImage"
        [ngClass]="{ 'field-invalid': isFieldInvalid('featuredImage') }"><br><br>

    <!-- HOW-TO-ARRIVE field -->
    <label for="howToArrive">How to arrive: </label><br>
    <textarea id="howToArrive" rows="3"
        formControlName="howToArrive"></textarea><br><br>

    <!-- WORKING-DAYS field -->
    <label for="workingDays">Working days: </label><br>
    <textarea id="workingDays" rows="3"
        formControlName="workingDays"></textarea><br><br>

    <!-- WORKING-HOURS field -->
    <label for="workingHours">Working hours: </label><br>
    <textarea id="workingHours" rows="3"
        formControlName="workingHours"></textarea><br><br>

    <!-- COORDINATES field -->
    <label for="coordinates">Coordinates: </label><br>
    <input type="text" id="coordinates" 
        formControlName="coordinates"
        [ngClass]="{ 'field-invalid': isFieldInvalid('coordinates') }"><br><br>




    <button (click)="saveLandmark()" [disabled]="!(landmarkForm.valid && landmarkForm.dirty)">
        {{ isNew ? 'Create Landmark' : 'Update Landmark' }}
    </button>
</form>

<div *ngIf="serverErrors && serverErrors.length">
    <p>Error messages:</p>
    <ul>
        <!-- FIXME: Use class instead of style -->
        <li *ngFor="let error of serverErrors" style="color:red">{{ error }}</li> 
    </ul>
</div>
<br>
