<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<form *ngIf="!isLoading" [formGroup]="landmarkForm">

    <br>
    <p *ngIf="landmark?.createdAt">Created: {{ landmark.createdAt | date:'fullDate' }}</p>
    <p *ngIf="landmark?.modifiedAt">Modified: {{ landmark.modifiedAt | date:'fullDate' }}</p>
    <br>

    <!-- NAME field -->
    <label for="name"><b>Landmark name*:</b></label><br>
    <input type="text" id="name" placeholder="Landmark name" required
        formControlName="name"
        [ngClass]="{ 'field-invalid': isFieldInvalid('name') }"><br>
    <!-- NAME validation messages -->
    <div *ngIf="isFieldInvalid('name')" class="error-message">
        <div *ngIf="name?.errors?.required">
            Landmark name is required.
        </div>
        <div *ngIf="name?.errors?.minlength">
            Landmark name must be at least {{ name?.errors?.minlength?.requiredLength }} characters long.
        </div>
    </div><br>

    <!-- SLUG field -->
    <label for="slug"><b>Landmark slug*:</b></label><br>
    <input type="text" id="slug" placeholder="Landmark slug" required
        formControlName="slug"
        [ngClass]="{ 'field-invalid': isFieldInvalid('slug') }"><br>
    <!-- SLUG validation messages -->
    <div *ngIf="isFieldInvalid('slug')" class="error-message">
        <div *ngIf="slug?.errors?.required">
            Landmark slug is required.
        </div>
        <div *ngIf="slug?.errors?.minlength">
            Landmark slug must be at least {{ slug?.errors?.minlength?.requiredLength }} characters long.
        </div>
    </div><br>

    <!-- VISIBILITY field -->
    <p><b>Visibility options*:</b></p>
    <div>
        <input type="radio" id="public" name="isActive" [value]="true" required
            formControlName="isActive"                >
        <label for="public">Public</label>
    </div>
    <div>
        <input type="radio" id="private" name="isActive" [value]="false" required
            formControlName="isActive">
        <label for="private">Private</label>
    </div>
    <!-- VISIBILITY validation messages -->
    <div *ngIf="isFieldInvalid('isActive')" class="error-message">
        <div *ngIf="isActive?.errors?.required">
            Visibility options selection is required.
        </div>
    </div><br>

    <!-- CITY field -->
    <label for="city"><b>Select a City*:</b></label><br>
    <select id="city" required
        formControlName="city"
        [ngClass]="{ 'field-invalid': isFieldInvalid('city') }">
        <option [ngValue]="null" disabled>Select a city</option>
        <option *ngFor="let city of citySelectOptions" [ngValue]="city.id">{{city.value}}</option>
    </select><br>
    <!-- CITY validation messages -->
    <div *ngIf="isFieldInvalid('city')" class="error-message">
        <div *ngIf="city?.errors?.required">
            City selection is required.
        </div>
    </div><br>

    <!-- INTRODUCTORY TEXT field -->
    <label for="introText"><b>Introductory text*:</b></label><br>
    <textarea id="introText" rows="3" placeholder="Landmark introductory text" required
        formControlName="introText"
        [ngClass]="{ 'field-invalid': isFieldInvalid('introText') }"></textarea><br>
    <!-- INTRODUCTORY TEXT validation messages -->
    <div *ngIf="isFieldInvalid('introText')" class="error-message">
        <div *ngIf="introText?.errors?.required">
            Introductory text is required.
        </div>
        <div *ngIf="introText?.errors?.maxlength">
            Intro text can be a max of {{ introText?.errors?.maxlength?.requiredLength }} characters long.
        </div>
    </div><br>

    <!-- TODO: Rework to be an Image upload element later -->
    <!-- FEATURED-IMAGE field -->
    <label for="featuredImage">Featured image:</label><br>
    <input type="text" id="featuredImage" placeholder="PASTE IMAGE URL (TEMP)"
        formControlName="featuredImage"
        [ngClass]="{ 'field-invalid': isFieldInvalid('featuredImage') }"><br><br>

    <!-- COORDINATES field -->
    <label for="coordinates">Coordinates:</label><br>
    <input type="text" id="coordinates" placeholder="Landmark coordinates"
        formControlName="coordinates"
        [ngClass]="{ 'field-invalid': isFieldInvalid('coordinates') }"><br><br>

    <!-- DESCRIPTION field -->
    <label for="description">Landmark description:</label><br>
    <textarea id="description" rows="3" placeholder="Landmark description text"
        formControlName="description"></textarea><br><br>

    <!-- ENTRANCE-FEE field -->
    <label for="entranceFee">
        Entrance fee<span *ngIf="cityLocalCurrency"> ({{cityLocalCurrency}})</span>:
    </label><br>
    <input type="number" id="entranceFee" placeholder="Entrance fee"
        formControlName="entranceFee" 
        (keydown)="blockForbiddenChars($event)"
        [ngClass]="{ 'field-invalid': isFieldInvalid('entranceFee') }"><br>
    <!-- ENTRANCE-FEE validation messages -->
    <div *ngIf="isFieldInvalid('entranceFee')" class="error-message">
        <div *ngIf="entranceFee?.errors?.min">
            Entrance fee minimum value is {{ entranceFee?.errors?.min?.min }}.
        </div>
    </div><br>

    <!-- OFFICIAL-WEBSITE field -->
    <label for="officialWebsite">Official website:</label><br>
    <input type="text" id="officialWebsite" placeholder="Landmark official website"
        formControlName="officialWebsite"
        [ngClass]="{ 'field-invalid': isFieldInvalid('officialWebsite') }"><br>
    <!-- OFFICIAL-WEBSITE validation messages -->
    <div *ngIf="isFieldInvalid('officialWebsite')" class="error-message">
        <div *ngIf="officialWebsite?.errors">
            Website must have a proper URL format.
        </div>
    </div><br>

    <!-- WORKING-DAYS field -->
    <label for="workingDays">Working days:</label><br>
    <textarea id="workingDays" rows="3" placeholder="Landmark working days"
        formControlName="workingDays"></textarea><br><br>

    <!-- WORKING-HOURS field -->
    <label for="workingHours">Working hours:</label><br>
    <textarea id="workingHours" rows="3" placeholder="Landmark working hours"
        formControlName="workingHours"></textarea><br><br>

    <!-- HOW-TO-ARRIVE field -->
    <label for="howToArrive">How to arrive:</label><br>
    <textarea id="howToArrive" rows="3" placeholder="How to arrive directions"
        formControlName="howToArrive"></textarea><br><br>

    <button (click)="saveLandmark()" [disabled]="!(landmarkForm.valid && landmarkForm.dirty)">
        {{ isNew ? 'Create Landmark' : 'Update Landmark' }}
    </button>
</form>

<br>
<div *ngIf="serverErrors && serverErrors.length">
    <p>Error messages:</p>
    <ul>
        <li *ngFor="let error of serverErrors" class="error-message">
            {{ error }}
        </li> 
    </ul>
</div>
<br>
