<hr>
<p>Copyright &copy; {{getCopyrightYear()}} by Lovreone studios</p><br>

<!-- FIXME: Set real links when you create accounts, rethink "branding" and if Lovreone is a good choice -->
<p>
    <em>
        If you like what we do, and would like to help support our future work (of adding more cities), 
        feel free to donate on 
        <a href="https://www.patreon.com/lovreone" target="_blank">Patreon</a> 
        or buy us a cup of
        <a href="https://www.buymeacoffee.com/lovreone" target="_blank">coffee</a>! 
    </em>
</p>
