<app-header-portal></app-header-portal>
<h2>PORTAL - HOME</h2>

<h3>Welcome friend!</h3>
<h4>
    This is going to be a very pretty presentational page introducing the app and its features!
</h4>
<h4>
    For the moment, feel free to browse our
    <a routerLink="/portal/cities" routerLinkActive="active">{{ 'cities' | uppercase }}</a> 
    and check out all the awesome Landmarks they have!
</h4>

<p>Maybe, sometime in the future, admin will be able to:</p>
<ul>
    <li>Manage the contents of this page</li>
    <li>Manage the header navigation</li>
    <li>Manage the footer navigation</li>
    <li>Have some controll over SEO</li>
    <li>...</li>
</ul>

<p>When it comes to ux/design, we want to:</p>
<ul>
    <li>Make use the following technologies:
        <a href="https://material.io/" target="_blank">Material Design</a>,
        <a href="https://material.angular.io/" target="_blank">Angular Material</a>,
        <a href="https://materializecss.com/" target="_blank">Materialize</a>
    </li>
    <li>Implement responsive design to support mobile and desktop resoultions</li>
    <li>Have intuitive and beautiful static assets, like placeholder images, icons and favicon</li>
    <li>Have a cool looking 404 page</li>
    <li>Have an efficient and user-friedly UX</li>
    <li>Have a pretty application accessible to all</li> 
</ul>

<p>Some 'marketing ideas' for potential future use:</p>
<ul>
    <li>"Plan your visit"</li>
    <li>"Feel like exploring a new city? Manage your "to visit" lists like a pro!"</li>
    <li>"Plan your itineraries"</li>
    <li>"Leave no stone unturned"</li>
    <li>"Be your own tour guide"</li>
    <li>...</li>
</ul>


<app-footer-portal></app-footer-portal>