<!-- TODO: Clean-up unnecessary comments when finished -->
<!-- Pure CSS Loader https://loading.io/css/ -->
<div *ngIf="isLoading" class="lds-default">
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
</div>

<form *ngIf="!isLoading" [formGroup]="cityForm">
  
    <br>
    <p *ngIf="city?.createdAt">Created: {{ city.createdAt | date:'fullDate' }}</p>
    <p *ngIf="city?.modifiedAt">Modified: {{ city.modifiedAt | date:'fullDate' }}</p>
    <br>
        
    <!-- NAME field -->
    <label for="name"><b>City name*:</b></label><br>
    <input type="text" id="name" required 
        formControlName="name"
        [ngClass]="{ 'field-invalid': isFieldInvalid('name') }"><br>
    <!-- NAME validation messages -->
    <div *ngIf="isFieldInvalid('name')" class="error-message">
        <div *ngIf="name?.errors?.required">
            City name is required.
        </div>
        <div *ngIf="name?.errors?.minlength">
            City name must be at least {{ name?.errors?.minlength?.requiredLength }} characters long.
        </div>
    </div><br>

    <!-- SLUG field -->
    <label for="slug"><b>City slug*:</b></label><br>
    <input type="text" id="slug"
        formControlName="slug"
        [ngClass]="{ 'field-invalid': isFieldInvalid('slug') }">
    <!-- SLUG validation messages -->
    <div *ngIf="isFieldInvalid('slug')" class="error-message">
        <div *ngIf="slug?.errors?.required">
            City slug is required.
        </div>
        <div *ngIf="slug?.errors?.minlength">
            City slug must be at least {{ slug?.errors?.minlength?.requiredLength }} characters long.
        </div>
    </div><br><br>

    <!-- VISIBILITY field -->
    <p><b>Visibility options*:</b></p>    
    <div>
        <input type="radio" id="public" name="isActive" [value]="true"
            formControlName="isActive"                >
        <label for="public">Public</label>
    </div>
    <div>
        <input type="radio" id="private" name="isActive" [value]="false"
            formControlName="isActive">
        <label for="private">Private</label>
    </div>
    <!-- VISIBILITY validation messages -->
    <div *ngIf="isFieldInvalid('isActive')" class="error-message">
        <div *ngIf="isActive?.errors?.required">
            Visibility options selection is required.
        </div>
    </div><br>

    <!-- COUNTRY field -->
    <label for="country">Country: </label><br>
    <input type="text" id="country"
        formControlName="country"
        [ngClass]="{ 'field-invalid': isFieldInvalid('country') }"><br>
    <!-- COUNTRY validation messages -->
    <div *ngIf="isFieldInvalid('country')" class="error-message">
        <div *ngIf="country?.errors?.minlength">
            Country must be at least {{ country?.errors?.minlength?.requiredLength }} characters long.
        </div>
    </div><br>

    <!-- TODO: Rework to be an Image upload element later -->
    <!-- FEATURED IMAGE field -->
    <label for="featuredImage">Featured image: </label><br>
    <input type="text" id="featuredImage"
        formControlName="featuredImage"
        [ngClass]="{ 'field-invalid': isFieldInvalid('featuredImage') }"><br><br> 

    <!-- INTRODUCTORY TEXT field -->
    <label for="introText">Introductory text: </label><br>
    <textarea id="introText" rows="3"
        formControlName="introText"></textarea><br><br> 

    <!-- LOCAL CURRENCY field -->
    <label for="localCurrency">Local currency: </label><br>
    <input type="text" id="localCurrency"
        formControlName="localCurrency"
        [ngClass]="{ 'field-invalid': isFieldInvalid('localCurrency') }"><br><br> 

    <!-- DESCRIPTION field -->
    <label for="description">City description: </label><br>
    <textarea id="description" rows="3"
        formControlName="description"></textarea><br><br>

    <button (click)="saveCity()" [disabled]="!(cityForm.valid && cityForm.dirty)">
        {{ isNew ? 'Create City' : 'Update City' }}
    </button>

</form>

<div *ngIf="serverErrors && serverErrors.length">
    <p>Error messages:</p>
    <ul>
        <!-- FIXME: Use class instead of style -->
        <li *ngFor="let error of serverErrors" style="color:red">{{ error }}</li> 
    </ul>
</div>
<br>
