<nav>
    <p> 
        <a routerLink="/admin/dashboard" routerLinkActive="active"><b>CMS:</b> Dashboard</a> |
        <a routerLink="/admin/cities" routerLinkActive="active"><b>CMS:</b> City list</a> |
        <a routerLink="/admin/cities/create" routerLinkActive="active"><b>CMS:</b> Create a City</a> |
        <a routerLink="/admin/landmarks" routerLinkActive="active"><b>CMS:</b> Landmark list</a> |
        <a routerLink="/admin/landmarks/create" routerLinkActive="active"><b>CMS:</b> Create a Landmark</a> |
    </p>
</nav>
<hr>
