<!-- Pure CSS Loader https://loading.io/css/ -->
<div *ngIf="isLoading; else cityList" class="lds-default">
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
</div>
<ng-template #cityList>
    <table>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Country</th>
            <th>Image</th>
            <th>Currency</th>
            <th>Short desc</th> 
            <th colspan="2">Actions</th>
        </tr>
        <tr *ngFor="let city of cities" 
            [ngClass]="{'inactive-item': !city.isActive}">
            <td>{{city.name}}</td>
            <td>{{city.slug}}</td>
            <td>{{city.country}}</td>
            <td>
                <img [src]="getCityThumbnail(city)" [alt]="getAltText(city.name)" width="60px" >
            </td>
            <td>{{city.localCurrency}}</td>
            <td>{{city.introText}}</td>
            <td>
                <button (click)="viewItem(city)">View</button>
                <button (click)="modifyItem(city)">Modify</button>
                <button (click)="deleteItem(city)">Delete</button>
            </td>
        </tr>       
    </table>
</ng-template>
