<!-- Pure CSS Loader https://loading.io/css/ -->
<div *ngIf="isLoading; else cityList" class="lds-default">
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
</div>
<ng-template #cityList>
    <table>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Country</th>
            <th>Image</th>
            <th>Description</th> 
            <th colspan="2">Actions</th>
        </tr>
        <!-- FIXME: Rework style to class, move to CSS file -->
        <tr *ngFor="let city of cities" 
            [ngStyle]="{ 'background-color' : !city.isActive ? '#cdcdcd' : 'white' }">
            <td>{{city.name}}</td>
            <td>{{city.slug}}</td>
            <td>{{city.country}}</td>
            <td><img *ngIf="city.image" width="60px" [src]="city.image" [alt]="city.name + ' image'"></td>
            <td><p class="shortened-text">{{city.description}}</p></td>
            <td>
                <button (click)="viewItem(city)">View</button>
                <button (click)="modifyItem(city)">Modify</button>
                <button (click)="deleteItem(city)">Delete</button>
            </td>
        </tr>       
    </table>
</ng-template>
