/* Clean default margins */
h1, h2, h3, h4, p {
  margin: 0px;
}

/* Remove bullet points from all list items */
li {
  list-style: none;
}
  
/* FIXME: All below is temporary, delete later*/
.field-invalid {
  border-color: red;
}

.error-message {
  color: red;
}

/* Locks resizing of textarea, sets minheight*/
textarea { 
  resize: vertical; 
  min-height: 20px;
}

/* Shortens long text to # of rows */
.shortened-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* Arranges child divs side buy side*/
.inline-flex-parent {
  display: inline-flex;
}

td {
    text-align: center;
}
table, th, td {
    border: 1px solid;
}
table {
    width: 100%;
}

.padding-left-small {
  padding-left: 10px;
} 

/* Wrap text around image */
img.wrappable-image {
  float: left;
  padding: 0 10px 5px 0;
}
div.clear-left {
  clear: left;
}

/* CMS Lists - Highlight Private items */
.inactive-item {
  background-color: #cdcdcd;
}
