<app-loading-spinner *ngIf="isLoading; else cityList"></app-loading-spinner>

<ng-template #cityList>
    <ul *ngFor="let city of cities">   
        <li>     
            <div class='parent inline-flex-parent'>
                <div class='child'>
                    <img [src]="getCityThumbnail(city.featuredImage)" 
                        [alt]="getAltText(city.name)" width="150px">
                </div>
                <div class='child padding-left-small'>
                    <h3>{{getFullCityName(city)}}</h3>
                    <p>{{city.introText}}</p>     
                    <button (click)="viewItem(city)">View Landmarks</button>        
                </div>
            </div>
        </li>
    </ul>
</ng-template>
