<app-header-portal></app-header-portal>
<h2>MY PROFILE INFO</h2> 
<br>
<div *ngIf="currentUser">
    <p>
        <strong>First name: </strong>{{ currentUser.firstName }} <br>
        <strong>Last name: </strong>{{ currentUser.lastName }} <br>
        <strong>Username: </strong>{{ currentUser.username }} <br>
        <strong>Email: </strong>{{ currentUser.email }} <br>
        <strong>Signup date: </strong>{{ currentUser.createdAt | date:'fullDate' }}<br>
        <strong>Last updated: </strong>{{ currentUser.modifiedAt | date:'fullDate' }}<br>
    </p> 
</div><br>

<p *ngIf="serverError" class="error-message">{{serverError}}</p>

<app-footer-portal></app-footer-portal>
